body {
    background-color: darkred;
    text-align: center;
    color: white;
    font-family: sans-serif;
    background-image: url('../background.png');
}

#logo {
    height: 70px;
    width: auto;
}
body a {
    color:white;
    text-decoration: none;
    font-weight: bold;
}

body a:active {
    color: pink;
}

#console-list ul {

    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;

    height: 80px;

    padding-inline-start: 0px;

}

#console-list li {
    display: inline-block;
    border: 1px solid black;
    padding: 20px;
    margin: 0 5px 0 0 ;
    background-color: rgb(160, 59, 59);
    white-space: nowrap;
}

#console-list li.active {
    background-color: rgb(185, 114, 114);
}

#table-container {
    display: block;
    position: absolute;
    top: 150px;
    left: 10px;
    right: 10px;
    bottom: 50px;
}

#table-container table {
    overflow: scroll;
    display: block;
    background-color: white;    
    position: absolute;
    top: 80px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    color: black;
}

/* #table-container table tr:first-child {background: #FFF} */
#table-container table tr:nth-child(2n+2) {background: #CCC}


#footer {
    position: absolute;
    bottom: 0px;
    height: 40px;
    left: 10px;
    right: 10px;
    color: white;
    text-shadow: 5px 5px 5px black;
    font-weight: bold;
    font-size: 22px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.console input {
    clear: both;
    margin: 20px;
    padding: 5px;
}