{{ $consolecsv := .Params.csv }} 

    {{ $console := replace $consolecsv ".csv" "" }}
    {{ $csvpath := print $consolecsv | print "/data/"}}
    

    <script>
        gamegenieSelect("{{ $console }}");
    </script>

    <div id="console-{{ $console }}" class="console">

        <input type="text" id="input-{{ $console }}" onkeyup="gamegenieLookup('{{ $console }}')" placeholder="Search for games..">


        <table id="{{ $console }}">

            {{ range $i, $r := getCSV "," $csvpath }}
            
            {{ if eq $i 0 }}
            {{ range $r }}

            {{end}}
            {{end}}

                {{ if eq $i 0 }}
                <thead>
                <th>Title</th>
                               
                <th>Key in…</th>
                
                <th>Effect…</th>
                
                
                </thead>    
                <tbody>    
                {{end}}
            

            {{ if ge $i 1 }}
            <tr onClick="document.querySelector('div#footer').innerText = '{{ index $r 2 }}'">
             
                <td>{{ index $r 0 }}</td>
                <td>{{ index $r 2 }}</td>
                <td>{{ index $r 3 }}</td>
             
            </tr>
            {{end}}
            {{ end }}
        </tbody>
        </table>

    </div>