<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' >

<script src='{{ "js/lookup.js" | absURL }}?{{ now.Unix }}'></script>
<link href='{{ "css/style.css" | absURL }}?{{ now.Unix }}' rel="stylesheet"/>

<script src='{{ "js/NoSleep.min.js" | absURL }}?{{ now.Unix }}'></script>

<script>
    var noSleep = new NoSleep();

    document.addEventListener('click', function enableNoSleep() {
        document.removeEventListener('click', enableNoSleep, false);
        noSleep.enable();
    }, false);
</script>